.payaneh_incident_report_dir{
    direction: ltr !important;
}
.payaneh_incident_report th, .payaneh_incident_report td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.payaneh_incident_report th:nth-child(3), .payaneh_incident_report th:nth-child(4),.payaneh_incident_report th:nth-child(5){
    color: #aa1010;
}
.payaneh_incident_report_name{
    font-size: .7em;
    font-weight: bold;
    padding: 2px;
}
.payaneh_reports th, .payaneh_reports td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.payaneh_reports th{
    color: #343a40;
}
