.multi_page_report{
    page-break-inside: avoid; page-break-after: always;
}

.payaneh_incident_report_dir{
    direction: ltr !important;
}
.payaneh_incident_report th, .payaneh_incident_report td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.payaneh_incident_report th:nth-child(3), .payaneh_incident_report th:nth-child(4),.payaneh_incident_report th:nth-child(5){
    color: #aa1010;
}
.payaneh_incident_report_name{
    font-size: .7em;
    font-weight: bold;
    padding: 2px;
}
.payaneh_reports th, .payaneh_reports td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.payaneh_reports th{
    color: #343a40;
}

.contract_daily_report_table thead tr th{
    vertical-align: middle !important;
    border-bottom-color: black;

}
.contract_daily_report_table thead p{
    margin: 3px;
}

.contract_daily_report_table thead tr th,
.contract_daily_report_table tbody tr td,
.contract_daily_report_table tfoot tr td{
    padding: 0px 5px;
}

.contract_daily_report_table tfoot tr td{
    font-weight: bold;
    border-top-color: black;

}



.contract_daily_report_table .th_rotate {
    transform: rotate(270deg);
}
.contract_daily_report_table .plate_data {
    min-width: 100px;
}

 .monthly_report_table tbody td{
    vertical-align: middle;

   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.05rem !important;
   padding-bottom: 0.05rem !important;

}
.monthly_report_table tbody{
    border-top: solid;
    border-bottom: solid;
}
.monthly_report_table tfoot tr{
    border-bottom: outset;
}
.monthly_report_table thead th, .monthly_report_table tfoot td{
    vertical-align: middle;
   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.15rem !important;
   padding-bottom: 0.15rem !important;
}

.monthly_report_table .monthly_report_table_total{
    background-color: #9a9a9a59;
    font-weight: bold;


}


.daily_report_table thead th, .daily_report_table tfoot td{
    vertical-align: middle;
   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.15rem !important;
   padding-bottom: 0.15rem !important;
}
 .daily_report_table tbody td{
    vertical-align: middle;

   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.05rem !important;
   padding-bottom: 0.05rem !important;

}
.daily_report_table tbody{
    border-top: solid;
    border-bottom: solid;
}
.daily_report_table tfoot tr{
    border-bottom: outset;
}

.outgate_daily_report_table thead th, .outgate_daily_report_table tfoot td{
    vertical-align: middle;
   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.15rem !important;
   padding-bottom: 0.15rem !important;
}
 .outgate_daily_report_table1 tbody td{
    vertical-align: middle;

   padding-right: 0.25rem !important;
   padding-left: 0.25rem !important;
   padding-top: 0.05rem !important;
   padding-bottom: 0.05rem !important;

}
.outgate_daily_report_table tbody{
    border-top: solid;
    border-bottom: solid;
}
.outgate_daily_report_table table_header {
    border-top: outset !important;
}
.outgate_daily_report_table tfoot tr{
    border-bottom: outset;
}

