.sd_ltr, .sd_ltr a, .sd_ltr p {
//     unicode-bidi: plaintext;
    font-family: system-ui !important;
    direction: initial !important;
    text-align: initial !important;
}

.black_list {
background-color: #f060509e;
    border-radius: 5px;
    padding: 0px 3px;
}

.o_list_view tfoot{
    color: black !important;
}